* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  background-image: url(./assets/bg-2.jpg);
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #121214;
}

body * {
  font-family: "JetBrains Mono", sans-serif;
  line-height: 160%;
}

header {
  padding-top: 32px;
}

header div {
  width: 120px;
  margin: auto;
  background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);

  border-radius: 50%;

  display: flex;
  padding: 4px;
}

header div img {
  width: 100%;
  border-radius: 50%;
}

main {
  max-width: 580px;
  width: 90%;
  margin: 32px auto;

  display: grid;
  gap: 24px;
}

section {
  color: white;
  background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
  padding-top: 4px;
  border-radius: 10px;
}

section div {
  background-color: #2A2634;
  padding: 32px;
  padding-top: 24px;
  border-radius: 8px;
}

section h2 {
  letter-spacing: -0.47px;
}

section p {
  font-weight: 100;
  letter-spacing: -0.18px;
  color: #A1A1AA;
}

section ul {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  margin-top: 24px;
}


.redes-list img {
  height: 60px;
  border-radius: 8px;
  padding: 20px 20px 0px 0px;
}

